@charset "utf-8";

/* style for about page and form */

div#aboutBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div#textLeft {
    padding: 1px;
    grid-column: 1/2;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


div#formRight {
    grid-column: 2/3;
}


div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0px;
}

div.formRow > * {
    flex: 1 1 150px;
}


/* Legend */
legend {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

input[name="projectType"], [name="contactEmail"], [name="contactPhone"], [name="custName"], [name="infoSource"]{
    border-radius: 15px;
}

/* Text Area */
textarea {
    margin-top: 10px;
    height: 150px;
    width: 100%;
    border-radius: 15px;
}

/* Form Button */
div#buttons {
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset'] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
}


/* Validation */
input:focus, select:focus, textarea:focus {
    background-color: tan;
}