@charset "utf-8";

body {
    width: 100%;
    text-align: center;
    background-color: black;
}

#centerContainer {
    max-width: 1500px;
    margin: 0px auto;
    background-color: black;
    background-image: url('images/lightWood.jpg');
}

div#woodBack {
    background-image: url('images/woodgrain.jpg');
    padding: 0px;
}



div#welcome {
    font-family: "Cardo", sans-serif;
    font-size: 2em;
    padding: 10px 10px;
}

div#reviews .aside {
    font-family: "Cardo", sans-serif;
    font-size: 1.7em;
    padding: 3px;
}

